//comentario no Sass - //
$cor-padrao: darken(#c24e4b, 20% );
//$cor-padrao: lighten(#c24e4b, 20% );
$cor-branca: #FFF;
$tamanho-padrao: 16px;

$ponto-de-quebra: 980px;
$mq-mobile: "(max-width: 980px)";